body{
    background-color: antiquewhite;
    margin: 0;
    padding: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    padding: 10px 40px 20px 40px;
    background-color: white;
    width: 1300px;
    margin-left: 110px;
    margin: 0 auto;
}
#nav-bar{
    height: 150px;
    background-color: white;
}
#symbol{
    float: left;
    width: 10%;
}
#nav{

    width: 80%;
}
#social-media{
    margin-top:5px;
    height: 50px;
    font-size:smaller;
    text-align:right;
}
#navbar{
    height: 50px;
    font-weight: 900;
    font-size:25px;
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.menu-item{
    display: inline;
}
a{
    padding:5px;
    text-decoration: none;
    color: black;
    transition-duration: 0.6s;
    
}
a:hover{
    background-color: gray;
    color: white;
}

#contact{
    float:left;
    width:20%;
    text-align: right;
}

article{
padding:10px;
margin-top:30px;
font-size:20px;
background-color:lightskyblue;
text-align:center;
text-justify:distribute;
flex:1;
transition-duration:0.6s;
}
article:hover{
    background-color:lightseagreen;
    color: white;
}
section{
    display:flex;
}
