header{
    position: fixed;
    transition: 0.6s;
    z-index: 100000;

    width: 100%;
    box-shadow:1px 3px 2px gray;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: rgba(128, 145, 116, 0.692);
    padding: 20px;
    height: 130px;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Flow Block', cursive;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;

}
.container{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    z-index:99999;
}
.navbar{
    width: 100%;
    height: 120px;
    padding-top: 20px;
    background-color: rgba(128, 145, 116, 0.692);

    position: fixed;
}
.symbol{
    float: left;
    height: 100%;
    
    width: 15%;

}
.social-media{
    height: 30px;
}
.social-media{
    padding: 12px;
}
.social-media a:first-child{
    margin-left: 50px; 
}
.social-media a{
    padding-bottom:3px;
}
.social-media a:hover{
    background-color: rgba(100, 86, 93, 0.8);
    border-radius: 50%;
   
}
.menu{ 
    height:90px;
    float:left;
    width: 85%;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display:inline-block;
    width: 175px;
    height: 40px;
    text-align: center;
    padding-top:5px;
}
.menu ul li:first-child{
    width: 130px;
}
.menu ul li:last-child{
    margin-left:10px;
}
.menu ul li:hover{
    border-radius: 45%;
    background-color: rgba(100, 86, 93, 0.8);
}
.menu ul li a{
    font-size: 20px;
    color: black;
    font-weight: 900;
}


.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 80px;
}

.text-box p{
    margin: 10px 0 40px; 
    font-size: 20px;
    color:#fff;    
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor:pointer;
    transition:0.6s;
}

.hero-btn:hover{
    border: 1px solid rgba(128, 145, 116, 0.692);
    background: rgba(128, 145, 116, 0.692);
    transition: 1.0s;
}
section{
    scroll-snap-align: center;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,39,0.7)), url(images/agh.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .text-box p{
        font-size:15px;
    }
}


.section2{
    width:60%;
    margin:auto;
    text-align:center;
    
    background:rgb(64, 150, 142,0.1);
    
    line-height:160%;
    border-radius: 5px;
    background-color: #f2f2f2de;
    padding: 20px;
}

.row{
    box-sizing:border-box;
    text-align:left;
    width:100%;
    padding-left:25%;
}
footer{
    height: 300px;
    background-color: rgba(4,9,30,0.7);
}
.footer1{
    float:left;
    height: 200px;
    width: 26%;
    padding-left: 50px;
    padding-top: 30px;
}
.footer1 img{
    padding-left: 90px;
    padding-top: 50px;
}
footer h1{
    color: white;
}
footer p{
    padding: 5px;
    font-size: 20px;
}
input[type=submit] {
    width: 80%;
    background-color: rgb(64, 150, 142);
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
 
  input[type=text], input[type=email]{
    border: none;
    border-bottom: 2px solid rgb(64, 150, 142);
    width:20%;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
  }

input[type=text]:focus, input[type=email]:focus{
    background-color:rgb(212, 212, 212);
font-size:larger;

width:30%;
border:none;
border-bottom:2px solid rgb(64, 150, 142);
  }
textarea:focus {
    background-color: rgb(212, 212, 212);
   
  }
 textarea{
    border: none;
    border-bottom: 2px solid rgb(64, 150, 142);
    resize:none;
    width:80%;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
  }
 
#submit_button:hover{
    background-color:rgba(4,9,30,0.7);
    border-color:rgba(4,9,30,0.5);
}

#imiona{
    text-align:right;
    padding-right:50px;
}
.idk{
    width:45%;
    margin:auto;
}