header{
    position: fixed;
    transition: 0.6s;
    z-index: 100000;

    width: 100%;
    box-shadow:1px 3px 2px gray;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: rgba(128, 145, 116, 0.692);
    padding: 20px;
    height: 130px;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Flow Block', cursive;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;

}
.container{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    z-index:99999;
}
.navbar{
    width: 100%;
    height: 120px;
    padding-top: 20px;
    background-color: rgba(128, 145, 116, 0.692);

    position: fixed;
}
.symbol{
    float: left;
    height: 100%;
    
    width: 15%;

}
.social-media{
    height: 30px;
}
.social-media{
    padding: 12px;
}
.social-media a:first-child{
    margin-left: 50px; 
}
.social-media a{
    padding-bottom:3px;
}
.social-media a:hover{
    background-color: rgba(100, 86, 93, 0.8);
    border-radius: 50%;
   
}
.menu{ 
    height:90px;
    float:left;
    width: 85%;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display:inline-block;
    width: 175px;
    height: 40px;
    text-align: center;
    padding-top:5px;
}
.menu ul li:first-child{
    width: 130px;
}
.menu ul li:last-child{
    margin-left:10px;
}
.menu ul li:hover{
    border-radius: 45%;
    background-color: rgba(100, 86, 93, 0.8);
}
.menu ul li a{
    font-size: 20px;
    color: black;
    font-weight: 900;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 80px;
}

.text-box p{
    margin: 10px 0 40px; 
    font-size: 20px;
    color:#fff;    
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid rgba(128, 145, 116, 0.692);
    background-color: rgba(128, 145, 116, 0.692);
    transition: 1.0s;
}
section{
    scroll-snap-align: center;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,39,0.7)), url(images/agh.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .text-box p{
        font-size:15px;
    }
}

.section2{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:50px;
    color:black;
}
h1{
    font-size:36px;
}
p{
    font-size:20px;
}
.row{
    margin-top:5%;
    display:flex;
    justify-content:space-between;
}

.column-up{
    flex-basis:100%;
    background:rgb(64, 150, 142);
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing:border-box;
    transition:0.6s;
}

.column-up:hover{
    box-shadow:0px 0px 15px 0px black;
}

.column-down{
    flex-basis:24%;
    background:rgba(64, 150, 141, 0.6);
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing:border-box;
    transition:0.6s;
}

.column-down:hover{
    box-shadow:0px 0px 15px 0px black;
}

.column-3{
    flex-basis:100%;
    background:rgb(64, 150, 142);
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing:border-box;
    transition:0.6s;
}

.column-3:hover{
    box-shadow:0px 0px 15px 0px black;
    background:rgba(4,9,30,0.7);
}
footer{
    height: 300px;
    background-color: rgba(4,9,30,0.7);
}
.footer1{
    float:left;
    height: 200px;
    width: 26%;
    padding-left: 50px;
    padding-top: 30px;
}
.footer1 img{
    padding-left: 90px;
    padding-top: 50px;
}
footer h1{
    color: white;
}
footer p{
    padding: 5px;
    font-size: 20px;
}

.row a {
    color:black;
    width:99%;
    align-self:center;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

.column-photos{
    flex-basis:33%;
    height:60%;
    border-radius:30px;
    margin-bottom:30px;
    position:relative;
    overflow:hidden;
}

.column-photos img{
    width:100%;
    display:block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.6s;
}

.layer:hover{
    background: rgba(4,9,30,0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.6s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}