h*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
a{
    text-decoration: none;
}
header{
    position: fixed;
    transition: 0.6s;
    z-index: 100000;

    width: 100%;
    box-shadow:1px 3px 2px gray;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: rgba(128, 145, 116, 0.692);
    padding: 20px;
    height: 130px;

/*
    padding: 10px 40px 20px 40px;
    
    width: 1300px;
    margin-left: 110px;
    margin: 0 auto;
    */
}

#symbol{
    position: relative;
    transition: 0.6s;
    grid-column: 1 / 2;
   
}
#symbol a{
    margin-top: 50px;
}
#nav{
    position:relative;
    transition: 0.6s;

    grid-column: 2 / 8;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}
#contact{
    position: relative;
    transition: 0.6s;

    grid-column: 8 / -1;
    padding: 30px;
}
.con-butt{
    text-decoration: none;
    text-align: center;
    margin-bottom:10px;
    color: #1b0501;
    border: 2px solid #052201;
    border-radius: 4px;
    width: 100px;
    line-height: 40px;
    display: inline-block;
    font-family: Arial;
    font-weight: 600;
}
.con-butt:hover{
    background-color: rgb(64, 150, 142);
    color: #ffffff;
    border-bottom: 2px solid #319598;
}


#social-media{
    position: relative;
    transition: 0.6s;
    margin-top:5px;
    height: 50px;
    font-size:smaller;
    text-align:center;
    grid-column: 3 / 5;
    grid-row: 1/2;
}

#navbar{
    position: relative;
    transition: 0.6s;
    grid-row: 2 / 3;
    grid-column: 1 / 7;
    height: 50px;
    font-weight: 900;
    font-size:25px;
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right:90px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.menu-item{
    display: inline;
}
.menu a{
    padding:10px;
    text-decoration: none;
    color: black;
    transition-duration: 0.6s;
}
.menu a:hover{
    background-color: gray;
    color: white;
    border-radius: 50%;
}
.social-media{
    text-align: center;
    padding:12px;
    text-decoration: none;
    transition-duration: 0.6s;
}

.social-media:hover{
    background-color: #9aacff;
    color: white;
    border-radius: 50%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 80px;
}

.text-box p{
    margin: 10px 0 40px; 
    font-size: 20px;
    color:#fff;    
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor:pointer;
    transition:0.6s;
}

.hero-btn:hover{
    border: 1px solid rgba(128, 145, 116, 0.692);
    background: rgba(128, 145, 116, 0.692);
    transition: 1.0s;
}
section{
    scroll-snap-align: center;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,39,0.7)), url(../Images/agh.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .text-box p{
        font-size:15px;
    }
}


.section2{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:50px;
    padding-bottom:20px;
    background:rgb(64, 150, 142,0.1);
    border-radius:10px;
    box-shadow:5px 5px 5px 5px gray;
}

.row{
    box-sizing:border-box;
    text-align:left;
    width:100%;
    padding-left:25%;
}
footer{
    height: 300px;
    background-color: #221216;
    color:white;
}
#submit_button{
    width:200px;
    height:30px;
    background:rgb(64, 150, 142);
    border-radius:5px;
    border-color:rgb(64, 150, 142);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:15px;
    transition:0.4s;
}

#submit_button:hover{
    background-color:rgba(4,9,30,0.7);
    border-color:rgba(4,9,30,0.5);
}