*{
    margin: 0;
    padding: 0;
    font-family: 'Flow Block', cursive;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,39,0.7)), url(../Wolontariat/images/agh.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index:999999;
}
a{
    text-decoration: none;
}
header{
    padding: 10px 40px 20px 40px;
    background-color: rgba(173, 170, 170, 0.692);
    width: 1300px;
    margin-left: 110px;
    margin: 0 auto;
    box-shadow:10px 8px 8px gray;
   
}
nav{ /*nav-bar*/
    /*display: flex;*/
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 80px;
    width: 100%;
    background-color: rgba(128, 145, 116, 0.692);
    box-shadow:10px 8px 8px gray;
    /*background-position: center;
    background-size: cover;*/
    /*position: relative;
    
    background-attachment: fixed;*/
    position: fixed;
    z-index:99999;
}
nav a img{
    float: left;
    width: 120px;
    height: 90px;
}
.container{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    z-index:99999;
}
/*
.navbar{
    width: 100%;
    height: 120px;
    padding-top: 20px;
    background-color: rgba(128, 145, 116, 0.692);

    position: fixed;
}

.symbol{
    float: left;
    height: 100%;
    
    width: 15%;

}
*/
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right:90px;
    justify-content: space-between;
    /*display: flex;*/
    align-items: center;

    height: 50px;
    font-weight: 900;
    font-size:25px;
}
.menu-item{
    display: inline;
}
.menu a{
    padding:10px;
    text-decoration: none;
    color: black;
    transition-duration: 0.6s;
}
.menu a:hover{
    background-color: gray;
    color: white;
    border-radius: 50%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px; 
    font-size: 20px;
    color:#fff;    
}

section{
    scroll-snap-align: center;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid rgba(128, 145, 116, 0.692);
    background-color: rgba(128, 145, 116, 0.692);
    transition: 1.0s;
}

#check{
    display: none;
}

.action{
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}
.action span{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a13dea;
    font-size: 2em;
    transition:0.3s ease-in-out;
    cursor: pointer;
}
.action:hover span{
    transform: rotate(135deg);
}
.action ul{
    position: absolute;
    bottom: 65px;
    background: #fff;
    min-width: 250px;
    padding: 20px;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.action ul li{
    list-style: none;
    
    
}
.action:hover ul{
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}
.action ul li{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    transition: 0.3s;
}
.action ul li:hover{
    font-weight: 600;

}
.action ul li:not(:last){
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.action ul li img{
    margin-right: 10px;
    opacity: 0.2;
    transform: scale(0.8);
}
.action ul li:hover img{
    opacity:0.8;
}
.action a{
    text-decoration: none;

}


#btn,
#cancel{
    color: white;
    font-size: 25px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 1192px) {
    ul li a{
        font-size: 18px;
    }
    nav a img{
        width:100px;

    }
}
@media (max-width: 1050px) {
    ul li a{
        font-size: 16px;
    }
    nav a img{
        width:80px;
        
    }
}
@media (max-width: 950px) {
    ul li a{
        font-size: 13px;
    }
    nav a img{
        width:80px;
    }
}
@media (max-width: 840px) {

    label #btn{
        display: block;
        cursor: pointer;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #344953;
        top:120px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    .menu-item{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #check:checked ~ul{
        left: 0;
    }
    .text-box{
        display: none;
    }
    
}

.slide-container {
    height: 700px;
    width: 100%;
    position: relative;
    margin: auto;
}
  

.mySlides {
   display: none;
}
.mySlides img{
    width: 100%;
}


.prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
}
  
.next {
   right: 0;
   border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
}


/*------------------------------------------*/

.wsparcie{
    width:60%;
    text-align:left;
    margin:auto;
    margin-bottom:200px;
    border-radius: 5px;
    background-color: #f2f2f2de;
    padding: 20px;
    position:relative;
    margin-right:70px;
    
}

.ramka{
    width:95%;
    border:2px solid rgba(128, 145, 116, 0.692);
    margin-top:20px;
    padding:20px;
    line-height:25px;
   
}

.wysylanie{
   
    background-color:rgba(128, 145, 116, 0.692);
    color: black;
    font-weight: bold;
    font-size: 13px;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 5em;
    margin:auto;

    cursor: pointer;
    width: unset;
  
}
#platnosc input,label{
    display:block;
}

#ukryta input{
    display:block;
}
#ukryta{
    display:none;
}
#second{
    display:none;
}

.sidebar{
    float:left;
    text-align:left;
    margin:auto;
    border-radius: 5px;
    background-color: #f2f2f2de;
    padding: 20px;
    margin-left:70px;
    padding-right:50px;
    padding-bottom:50px;
}
ul{
    list-style-type:none;
    
}
.sidebar li a{
    color:black;
    font-size:larger;
    border-bottom:1px solid rgb(64, 150, 142);
}

.sidebar li{
    
    margin-top:20px;
}

.sidebar .active{
    border-bottom: 2px solid rgb(64, 150, 142);
}

#panel2,#panel3,#panel4{
    display:none;
}

@media only screen and (max-width:700px){
    .sidebar{
        float:none;
        width:65%;    
    }
   
    .wsparcie{
        margin-top:50px;
        left:0px;
    }
    .ramka{
        width:80%;
    }

}

#error{
    margin-top:10px;
    color:red;
    font-size:larger;
}

#email2{
    color:rgb(64, 150, 142);
}

/*kontakt plus mapa*/

.contact-section h2{
    font-size: 2em;
}

.contact-left label{
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;

}

input, textarea{
    width:60%;
    padding:8px;
    margin-bottom: 10px;
    border-radius: .3em;
    border: 2px solid rgba(128, 145, 116, 0.692);
    box-sizing: border-box;
    resize:none;
}

#tekst{
    width:60%;
    padding:8px;
    margin-bottom: 3px;
    height: 130px;
    border-radius: 10px;
    border: 2px solid rgba(128, 145, 116, 0.692);
    box-sizing: border-box;
    resize:none;
    text-align: justify;
}



.send{
    background-color: rgba(128, 145, 116, 0.692);
    color: black;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: 8px 20px;
    width: unset;
    cursor: pointer;
}

iframe{
    width: 100%;
    height: 400px;
}

.contact-left{
    margin-left:30%;
    
}
