header{
    position: fixed;
    transition: 0.6s;
    z-index: 100000;

    width: 100%;
    box-shadow:1px 3px 2px gray;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: rgba(128, 145, 116, 0.692);
    padding: 20px;
    height: 130px;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Flow Block', cursive;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;

}
.container{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    z-index:99999;
}
.navbar{
    width: 100%;
    height: 120px;
    padding-top: 20px;
    background-color: rgba(128, 145, 116, 0.692);

    position: fixed;
}
.symbol{
    float: left;
    height: 100%;
    
    width: 15%;

}
.social-media{
    height: 30px;
}
.social-media{
    padding: 12px;
}
.social-media a:first-child{
    margin-left: 50px; 
}
.social-media a{
    padding-bottom:3px;
}
.social-media a:hover{
    background-color: rgba(100, 86, 93, 0.8);
    border-radius: 50%;
   
}
.menu{ 
    height:90px;
    float:left;
    width: 85%;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display:inline-block;
    width: 175px;
    height: 40px;
    text-align: center;
    padding-top:5px;
}
.menu ul li:first-child{
    width: 130px;
}
.menu ul li:last-child{
    margin-left:10px;
}
.menu ul li:hover{
    border-radius: 45%;
    background-color: rgba(100, 86, 93, 0.8);
}
.menu ul li a{
    font-size: 20px;
    color: black;
    font-weight: 900;
}

   
.text-box{
    width: 90%;
    color: #fff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}
.text-box h1{
font-size: 80px;
}

.text-box p{
margin: 10px 0 40px; 
font-size: 20px;
color:#fff;    
}
.hero-btn{
display: inline-block;
text-decoration: none;
color: #fff;
border: 1px solid #fff;
padding: 12px 34px;
font-size: 13px;
background: transparent;
position: relative;
cursor: pointer;
}

.hero-btn:hover{
border: 1px solid rgba(128, 145, 116, 0.692);
background-color: rgba(128, 145, 116, 0.692);
transition: 1.0s;
}


footer{
    height: 300px;
    background-color: rgba(4,9,30,0.7);
}
.footer1{
    float:left;
    height: 200px;
    width: 26%;
    padding-left: 50px;
    padding-top: 30px;
}
.footer1 img{
    padding-left: 90px;
    padding-top: 50px;
}
h1{
    color: white;
}
footer p{
    padding: 5px;
    font-size: 20px;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,39,0.7)), url(../Wolontariat/images/agh.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.wsparcie{
    width:65%;
    text-align:left;
    margin:auto;
    margin-bottom:200px;
    border-radius: 5px;
    background-color: #f2f2f2de;
    padding: 20px;
    position:relative;
    left:100px;
}

.ramka{
    width:95%;
    border:2px solid rgba(128, 145, 116, 0.692);
    margin-top:20px;
    padding:20px;
    line-height:25px;
   
}

#przeslij{
    width: 80%;
    background-color: rgb(64, 150, 142);
    color: white;
    padding: 14px 20px;
    
    margin:auto;
    margin-top:20px;
    margin-left:10%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
input[type=text], input[type=email]{
    border: none;
    border-bottom: 2px solid rgb(64, 150, 142);
    width:20%;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
  }
input[type=number]{
    border: none;
    border-bottom: 2px solid rgb(64, 150, 142);
    width:5%;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
  }
input[type=number]:focus{
background-color:rgb(212, 212, 212);
font-size:larger;
width:10%;
}
input[type=text]:focus, input[type=email]:focus{
    background-color:rgb(212, 212, 212);
font-size:larger;

width:25%;
border:none;
border-bottom:2px solid rgb(64, 150, 142);
  }
#przeslij:hover{
    background-color:rgba(4,9,30,0.7);
    border-color:rgba(4,9,30,0.5);
}
#ukryta input{
    display:block;
}
#ukryta{
    display:none;
}
.gotowy{
background-color:green;
}

.niegotowy{
color:white;
}

.sidebar{
    float:left;
    text-align:left;
    margin:auto;
    border-radius: 5px;
    background-color: #f2f2f2de;
    padding: 20px;
    margin-left:70px;
    padding-right:50px;
    padding-bottom:50px;
}
ul{
    list-style-type:none;
    
}
.sidebar li a{
    color:black;
    font-size:larger;
    border-bottom:1px solid rgb(64, 150, 142);
}

.sidebar li{
    
    margin-top:20px;
}

.sidebar .active{
    border-bottom: 2px solid rgb(64, 150, 142);
}

#panel2,#panel3,#panel4{
    display:none;
}